---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<youtube_key>&part=snippet&q=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "CZbkDws4PyhMQtnZ5kJBTkqSq1A",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 63,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "lmwiXeibmOitA4n8oUrK3sZvbyQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "7sxora2imC0"
              },
              "snippet": {
                "publishedAt": "2020-08-29T12:59:40Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Germany",
                "description": "Sources: A Concise History of Germany (2019) by Mary Fulbrook, Cambridge University Press, Cambridge, UK. The Shortest ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/7sxora2imC0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-08-29T12:59:40Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "_uS1B_O62CjdE449GXVaIXP4wxs",
              "id": {
                "kind": "youtube#video",
                "videoId": "WetQZGX6odw"
              },
              "snippet": {
                "publishedAt": "2019-05-29T22:36:09Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Austria",
           [...]
