---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_key>&query=germany
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Per-Page:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=1000&query=germany>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=2&query=germany>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"c4b9c81fce147a0de410377f90888a83"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: UTF-8
      string: "{\"total\":10000,\"total_pages\":1000,\"results\":[{\"id\":\"g_gwdpsCVAY\",\"created_at\":\"2016-06-30T06:47:36Z\",\"updated_at\":\"2022-11-12T04:00:40Z\",\"promoted_at\":\"2016-06-30T06:47:36Z\",\"width\":7360,\"height\":4912,\"color\":\"#d9f3f3\",\"blur_hash\":\"LpJH%Mxu9ZRj_Nf,MxoJtmWBs.t7\",\"description\":null,\"alt_description\":\"white
        and pink petaled flowers on metal fence near concrete houses and tower at
        daytime\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1467269204594-9661b134dd2b?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1467269204594-9661b134dd2b?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1467269204594-9661b134dd2b?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1467269204594-9661b134dd2b?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1467269204594-9661b134dd2b\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/g_gwdpsCVAY\",\"html\":\"https://unsplash.com/photos/g_gwdpsCVAY\",\"download\":\"https://unsplash.com/photos/g_gwdpsCVAY/download?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\",\"download_location\":\"https://api.unsplash.com/photos/g_gwdpsCVAY/download?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHxnZXJtYW55fGVufDB8fHx8MTY2ODI5MTQwNQ\"},\"likes\":1839,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"nature\":{\"status\":\"approved\",\"approved_on\":\"2020-04-06T14:20:18Z\"}},\"user\":{\"id\":\"VLIZr86aStY\",\"updated_at\":\"2022-11-11T00:22:31Z\",\"username\":\"iamromankraft\",\"name\":\"Roman
        Kraft\",\"first_name\":\"Roman\",\"last_name\":\"Kraft\",\"twitter_username\":\"imromankraft\",\"portfolio_url\":\"http://www.bandandroll.com\",\"bio\":\"Founder
        and CEO @bandandroll - finest goods for human and hound. For all unsplashers
        a warm welcome with 15% off everything with the code: BRUNSPLASH.\",\"location\":\"Berlin,
        Germany\",\"links\":{\"self\":\"https://api.unsplash.com/users/iamromankraft\",\"html\":\"https://unsplash.com/@iamromankraft\",\"photos\":\"https://api.unsplash.com/users/iamromankraft/photos\",\"likes\":\"https://api.unsplash.com/users/iamromankraft/likes\",\"portfolio\":\"https://api.unsplash.com/users/iamromankraft/portfolio\",\"following\":\"https://api.unsplash.com/users/iamromankraft/following\",\"followers\":\"https://api.unsplash.com/users/iamromankraft/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1441357988774-f4666625075c?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1441357988774-f4666625075c?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1441357988774-f4666625075c?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"iamromankraft\",\"total_collections\":1,\"total_likes\":20,\"total_photos\":116,\"accepted_tos\":true,\"for_hire\":true,\"social\":{\"instagram_username\":\"iamromankraft\",\"portfolio_url\":\"http://www.bandandroll.com\",\"twitter_username\":\"imromankraft\",\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"germany\"},{\"type\":\"landing_page\",\"title\":\"travel\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"images\",\"pretty_slug\":\"Images\"},\"category\":{\"slug\":\"travel\",\"pretty_slug\":\"Travel\"}},\"title\":\"Travel
        images\",\"subtitle\":\"Download free travel images\",\"description\":\"We
        come across many of life's most beautiful images while travelling. Monuments,
        the bright lights of big cities like Las Vegas, magnificent landscapes. Unsplash
        captures it all, with a free selection of gorgeous travelling photos from
        every corner of the earth.\",\"meta_title\":\"100+ Travel Pictures | Download
        Free Images \\u0026 Stock Photos on Unsplash\",\"meta_description\":\"Choose
        from hundreds of free travel pictures. Download HD travel photos for free
        on Unsplash.\",\"cover_photo\":{\"id\":\"KgCbvOWYuU0\",\"created_at\":\"2017-01-19T05:49:32Z\",\"updated_at\":\"2022-08-15T00:34:49Z\",\"promoted_at\":null,\"width\":3199,\"height\":2242,\"color\":\"#73a6a6\",\"blur_hash\":\"LBCu-R_N4nS_%hx]M{S1IUWVr[kC\",\"description\":\"My
        name is Ishan I make photos and videos\\r\\n\\r\\nwww.instagram.com/seefromthesky\",\"alt_description\":\"aerial
        photo of person using paddleboard\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1484804959297-65e7c19d7c9f?ixlib=rb[...]
