---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<places_key>&categories=tourism.sights&filter=circle:13.4,52.52,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Haus
        am Waldsee","housenumber":"30","street":"Argentinische Allee","suburb":"Zehlendorf","district":"Steglitz-Zehlendorf","city":"Berlin","postcode":"14163","country":"Germany","country_code":"de","lon":13.238418381781607,"lat":52.4420766,"formatted":"Haus
        am Waldsee, Argentinische Allee 30, 14163 Berlin, Germany","address_line1":"Haus
        am Waldsee","address_line2":"Argentinische Allee 30, 14163 Berlin, Germany","categories":["building","building.historic","building.tourism","entertainment","entertainment.museum","heritage","tourism","tourism.sights","wheelchair","wheelchair.yes"],"details":["details","details.contact","details.facilities","details.heritage","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Haus
        am Waldsee","image":"https://commons.wikimedia.org/wiki/File:Haus_am_Waldsee,Berlin.JPG","phone":"+49
        30 801 89 35","museum":"art","osm_id":31283095,"ref:lda":"09075627","tourism":"museum","website":"https://www.hausamwaldsee.de/","building":"yes","heritage":4,"historic":"heritage","osm_type":"w","wikidata":"Q1590720","addr:city":"Berlin","wikipedia":"de:Haus
        am Waldsee","wheelchair":"yes","addr:street":"Argentinische Allee","addr:suburb":"Zehlendorf","addr:country":"DE","lda:criteria":"Baudenkmal","addr:postcode":14163,"opening_hours":"Tu-Su
        11:00-18:00","addr:housenumber":30,"heritage:website":"http://www.stadtentwicklung.berlin.de/cgi-bin/hidaweb/getdoc.pl?DOK_TPL=lda_doc.tpl&KEY=obj%2009075627","heritage:operator":"lda","toilets:wheelchair":"yes"}},"place_id":"51c2ddae331a7a2a4059efc0a25b96384a40f00102f9019757dd010000000092030f4861757320616d2057616c64736565"},"geometry":{"type":"Point","coordinates":[13.238481154533364,52.44208856055217]}},{"type":"Feature","properties":{"name":"Fort
        Hahneberg","housenumber":"50","street":"Peter-Herzog-Weg","suburb":"Staaken","district":"Spandau","city":"Berlin","postcode":"13591","country":"Germany","country_code":"de","lon":13.137729308340758,"lat":52.521930600000005,"formatted":"Fort
        Hahneberg, Peter-Herzog-Weg 50, 13591 Berlin, Germany","address_line1":"Fort
        Hahneberg","address_line2":"Peter-Herzog-Weg 50, 13591 Berlin, Germany","categories":["building","building.historic","building.tourism","heritage","tourism","tourism.attraction","tourism.sights","tourism.sights.fort"],"details":["details","details.contact","details.heritage","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"fax":"+49
        30 366 49 81","name":"Fort Hahneberg","email":"infos@forthahneberg.de","image":"http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Spandau_Fort_Hahneberg_Kehlkaserne.JPG/1024px-Spandau_Fort_Hahneberg_Kehlkaserne.JPG","phone":"+49
        30 366 46 05","ruins":"yes","osm_id":50898721,"ref:lda":"09085593","tourism":"attraction","website":"http://www.forthahneberg.de/das-bauwerk/","building":"yes","heritage":4,"historic":"fort","osm_type":"w","wikidata":"Q1438543","addr:city":"Berlin","wikipedia":"de:Fort
        Hahneberg","addr:street":"Hahnebergweg","addr:suburb":"Staaken","addr:country":"DE","lda:criteria":"Baudenkmal","addr:postcode":13591,"opening_hours":"Sa,Su,PH
        14:00-16:00","addr:housename":"Fort Hahneberg","addr:housenumber":50,"heritage:operator":"lda","opening_hours:note":"Führungen
        14 und 16 Uhr"}},"place_id":"51ac4633e7b1462a4059e009e3edc9424a40f00102f90121a708030000000092030e466f7274204861686e6562657267"},"geometry":{"type":"Point","coordinates":[13.138076043137822,52.52178739152782]}},{"type":"Feature","properties":{"name":"Naturschutzturm
        Bergfelde","street":"Waldjugendweg","district":"Bergfelde","city":"Hohen Neuendorf","county":"Oberhavel","state":"Brandenburg","postcode":"16562","country":"Germany","country_code":"de","lon":13.29983329137983,"lat":52.660023949999996,"formatted":"Naturschutzturm
        Bergfelde, Waldjugendweg, 16562 Hohen Neuendorf, Germany","address_line1":"Naturschutzturm
        Bergfelde","address_line2":"Waldjugendweg, 16562 Hohen Neuendorf, Germany","categories":["building","building.historic","heritage","man_made","man_made.tower","tourism","tourism.sights","tourism.sights.tower"],"details":["details","details.building","details.contact","details.heritage","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"url":"https://www.sdw-naturschutzturm.de/der-naturschutzturm/","name":"Naturschutzturm
        Bergfelde","email":"kontakt@naturschutzturm.de","image":"https://commons.wikimedia.org/wiki/File:09_Brandenburg_1_Grenzwachturm_Bergfelde.JPG","phone":"+49
        30 4063121","height":8.5,"osm_id":326399211,"website":"https://naturschutzturm.de/","building":"yes","heritage":4,"historic":"heritage","man_made":"tower","operator":"Deutsche
        Waldjugend - Naturschutzturm - Berliner Nordrand e.V.","osm_type":"w","wikipedia":"de:Naturschutzturm","tower:type":"observation","description":"Grenzwachturm
        mit Bunker","contact:phone":"+49 3303 509844","opening_hours":"Fr 15:00-17:00
        open \"bitte anmelden\"","bldam:criteria":"Baudenkmal","heritage:operator":"bldam"}},"place_id":"5113aba0c183992a40599a61b8a27b544a40f00102f901eb747413000000009203194e6174757273636875747a7475726d204265726766656c6465"},"geometry":{"type":"Point","coordinates":[13.299833346236062,52.660023059873495]}},{"type":"Feature","properties":{"name":"Topographie
        des Terrors","housenumber":"8","street":"Niederkirchnerstraße","suburb":"Kreuzberg","district":"Mitte","city":"Berlin","postcode":"10963","country":"Germany","country_code":"de","lon":13.384154817866484,"lat":52.5062137,"formatted":"Topography
        of Terror, Niederkirchnerstraße 8, 10963 Berlin, Germany","address_line1":"Topography
        of Terror","address_line2":"Niederkirchnerstraße 8, 10963 Berlin, Germany","categories":["entertainment","entertainment.museum","no_fee","no_fee.no","tourism","tourism.sights","tourism.sights.memorial","wheelchair","wheelchair.yes"],"details":["details","details.contact","details.facilities","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"fee":"no","name":"Topographie
        des Terrors","phone":"+49 30 2545090","osm_id":24368681,"name:de":"Topographie
        des Terrors","name:en":"Topography of Terror","name:he":"טופוגרפיה של הטרור","name:it":"Topografia
        del terrore","name:pl":"Topografia Terroru","toilets":"yes","tourism":"museum","website":"http://www.topographie.de","historic":"memorial","operator":"Stiftung
        Topographie des Terrors","osm_type":"w","wikidata":"Q819081","addr:city":"Berlin","wikipedia":"de:Topographie
        des Terrors","wheelchair":"yes","addr:street":"Niederkirchnerstraße","addr:suburb":"Kreuzberg","toilets:fee":"no","addr:country":"DE","addr:postcode":10963,"contact:email":"info@topographie.de","opening_hours":"Mo-Su
        10:00-20:00","toilets:access":"public","con[...]
