---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/germany?fields=capitalInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capitalInfo":{"latlng":[52.52,13.4]},"capital":["Berlin"],"altSpellings":["DE","Federal
        Republic of Germany","Bundesrepublik Deutschland"]}]'
  recorded_at: Mon, 14 Nov 2022 16:34:41 GMT
recorded_with: VCR 6.1.0
