---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/new%20zealand?fields=capitalInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capitalInfo":{"latlng":[-41.3,174.78]},"capital":["Wellington"],"altSpellings":["NZ","Aotearoa"]}]'
  recorded_at: Mon, 14 Nov 2022 18:49:56 GMT
recorded_with: VCR 6.1.0
