---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Ecuador?fields=capitalInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capitalInfo":{"latlng":[-0.22,-78.5]},"capital":["Quito"],"altSpellings":["EC","Republic
        of Ecuador","República del Ecuador"]}]'
  recorded_at: Mon, 14 Nov 2022 18:11:23 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<places_key>&categories=tourism.sights&filter=circle:-78.5,-0.22,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Museo
        de la Ciudad","housenumber":"S1-47","street":"García Moreno","suburb":"Gonzalez
        Suarez","district":"Centro Histórico","city":"Quito","county":"Quito Canton","state":"Pichincha","postcode":"170405","country":"Ecuador","country_code":"ec","lon":-78.51501066910681,"lat":-0.22306274999999998,"formatted":"City
        Museum, García Moreno S1-47, 170405, Quito, Ecuador","address_line1":"City
        Museum","address_line2":"García Moreno S1-47, 170405, Quito, Ecuador","categories":["building","building.historic","building.tourism","entertainment","entertainment.museum","heritage","heritage.unesco","tourism","tourism.sights"],"details":["details","details.contact","details.heritage","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Museo
        de la Ciudad","email":"comunicacionmdc@fmcquito.gob.ec","phone":"+59322283882","osm_id":31281502,"name:en":"City
        Museum","tourism":"museum","building":"yes","heritage":1,"historic":"heritage","osm_type":"w","wikidata":"Q19896440","wikipedia":"en:City
        Museum (Quito)","addr:street":"García Moreno","whc:criteria":"(ii),(iv)","opening_hours":"Fr-Su
        09:00-16:00","addr:housenumber":"S1-47","heritage:operator":"whc"}},"place_id":"518dd5687cf5a053c05969378a313f8fccbff00102f9015e51dd01000000009203124d7573656f206465206c6120436975646164"},"geometry":{"type":"Point","coordinates":[-78.5149832748195,-0.22312154692593403]}},{"type":"Feature","properties":{"name":"Almacenes
        MONTERO (Centro Histórico)","housenumber":"Oe4-33","street":"Sucre","suburb":"Gonzalez
        Suarez","district":"Centro Histórico","city":"Quito","county":"Quito Canton","state":"Pichincha","postcode":"170401","country":"Ecuador","country_code":"ec","lon":-78.5131217,"lat":-0.2217832,"formatted":"MONTERO
        Stores (Centro Histórico), Sucre Oe4-33, 170401, Quito, Ecuador","address_line1":"MONTERO
        Stores (Centro Histórico)","address_line2":"Sucre Oe4-33, 170401, Quito, Ecuador","categories":["commercial","commercial.department_store","tourism","tourism.sights"],"details":["details","details.contact"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Almacenes
        MONTERO (Centro Histórico)","shop":"department_store","email":"montero-centro@montero.ec","phone":"+5932-295-0244","osm_id":4586164394,"name:en":"MONTERO
        Stores (Centro Histórico)","website":"www.montero.ec","historic":"district","osm_type":"n","addr:street":"Sucre","addr:postcode":170401,"opening_hours":"Mo-Fr
        09:00-18:45; Sa 09:00-16:30","addr:housenumber":"Oe4-33"}},"place_id":"518c1766fcd6a053c059f14b5a536463ccbff00103f901aa505b1101000000920325416c6d6163656e6573204d4f4e5445524f202843656e74726f2048697374c3b37269636f29"},"geometry":{"type":"Point","coordinates":[-78.5131217,-0.22178319997746557]}},{"type":"Feature","properties":{"name":"Centro
        Cultural Metropolitan[...]
