---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_key>&query=%C3%A5land%20islands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Per-Page:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=1000&query=%C3%A5land+islands>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=2&query=%C3%A5land+islands>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"b2b5fbb8288128758f9cd373addd87d1"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":10000,\"total_pages\":1000,\"results\":[{\"id\":\"fcH-lsyvT4g\",\"created_at\":\"2022-06-28T19:09:32Z\",\"updated_at\":\"2022-11-16T00:28:32Z\",\"promoted_at\":null,\"width\":3024,\"height\":4032,\"color\":\"#2659a6\",\"blur_hash\":\"LOCa4AV?E:R.AOnft6WCVBkCwEad\",\"description\":\"Åland
        Islands Windmill \",\"alt_description\":null,\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1656443250208-999df8fcf023?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1656443250208-999df8fcf023?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1656443250208-999df8fcf023?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1656443250208-999df8fcf023?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1656443250208-999df8fcf023?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1656443250208-999df8fcf023\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/fcH-lsyvT4g\",\"html\":\"https://unsplash.com/photos/fcH-lsyvT4g\",\"download\":\"https://unsplash.com/photos/fcH-lsyvT4g/download?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\",\"download_location\":\"https://api.unsplash.com/photos/fcH-lsyvT4g/download?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwxfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1NzEzNDg\"},\"likes\":1,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{},\"user\":{\"id\":\"YXqx42Qkwj4\",\"updated_at\":\"2022-10-06T19:01:06Z\",\"username\":\"whereismella\",\"name\":\"Mella
        Lisitano\",\"first_name\":\"Mella\",\"last_name\":\"Lisitano\",\"twitter_username\":null,\"portfolio_url\":\"https://whereismella.com\",\"bio\":null,\"location\":\"Munich,
        Germany\",\"links\":{\"self\":\"https://api.unsplash.com/users/whereismella\",\"html\":\"https://unsplash.com/@whereismella\",\"photos\":\"https://api.unsplash.com/users/whereismella/photos\",\"likes\":\"https://api.unsplash.com/users/whereismella/likes\",\"portfolio\":\"https://api.unsplash.com/users/whereismella/portfolio\",\"following\":\"https://api.unsplash.com/users/whereismella/following\",\"followers\":\"https://api.unsplash.com/users/whereismella/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1656442776133-69d5ee252933image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1656442776133-69d5ee252933image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1656442776133-69d5ee252933image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"whereismella\",\"total_collections\":0,\"total_likes\":0,\"total_photos\":10,\"accepted_tos\":true,\"for_hire\":true,\"social\":{\"instagram_username\":\"whereismella\",\"portfolio_url\":\"https://whereismella.com\",\"twitter_username\":null,\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"åland
        islands\"}]},{\"id\":\"jvMkBHbXnyE\",\"created_at\":\"2022-06-28T19:09:32Z\",\"updated_at\":\"2022-11-16T01:30:12Z\",\"promoted_at\":null,\"width\":3024,\"height\":4032,\"color\":\"#59a6f3\",\"blur_hash\":\"LzC@X3XAflWBPEofj?jrp1obj?fk\",\"description\":\"Åland
        Islands Nature view Geta\",\"alt_description\":null,\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1656443250181-b991db74b2e0?ixid=MnwzNzk3NzN8MHwxfHNlYXJjaHwyfHwlQzMlQTVsYW5kJTIwaXNsYW5kc3xlbnwwfHx8fDE2Njg1[...]
